@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/*place global styles here */
html, body { @apply h-full overflow-hidden; }
body {
	background-image: url(/star-bg.svg);
    background-repeat: repeat-x;
    background-position: center 0, 0 0, 0 0;
    background-size: 100%;
}